#actionsrow {

    min-height: 30vh;

}

#linechart {
    min-height: 70vh;
}


#startstoprow {

    min-height: 30vh;

}

.btn {
    margin-bottom: 1em;
}

.gamepanel {
    background-color: whitesmoke;
    font-family: 'Montserrat Alternates', sans-serif;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: calc(7px + 1vmin);
    color: black;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 2em;
}